:root {
  --black-color:#000000;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --hover-text-color: #2196f3;
  --first-bcg-color: #2f303a;
  --second-bcg-color: #f5f4fa;
  --third-bcg-color: #ffffff;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --btn-hover-color: #188ce8;

}

.navigation__logo--black {
  color: var(--black-color)
}
.navigation__logo--white {
  color: var(--third-text-color);
}