.features__icon-box {
  display: flex;
  // flex-wrap: wrap;
  height: 120px;
  background-color: var(--second-bcg-color);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
    justify-content: flex-start;
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.section.features {
  padding-bottom: 60px;
  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
}
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 270px;
  margin-bottom: 10px;
}

.features__subtitle-text {
  min-width: 270px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.features__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

