.general.section {
  max-width: 480px;
  max-height: 400px;
  margin: 0 auto;
  background-color: var(--first-bcg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 118px 0;
  background-image: linear-gradient( 
  rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)),
  url(./images/header-w480.jpg);
    @include retina {
        background-image: linear-gradient( 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(./images/header-w480-x2.jpg);
      }
  @include tablet {
      background-image: linear-gradient( 
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
      url(./images/header-w768.jpg);
      max-width: 768px;
      @include retina {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(./images/header-w768-x2.jpg);
      }
    }
  @include desktop {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(./images/header-w1600.jpg);
    padding: 200px 0;
    max-width: 1600px;
    max-height: 600px;
    @include retina {
      background-image: linear-gradient( 
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
      url(./images/header-w1600-x2.jpg);
    }
  }
}

.general__title {
  margin: 0 auto 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
