.general.section {
  max-width: 480px;
  max-height: 400px;
  margin: 0 auto;
  background-color: var(--first-bcg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/header-img__w480__.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 118px 0;
  @include tablet {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-img__w768_.jpg);
    max-width: 768px;
  }
  @include desktop {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header.jpg);
    padding: 200px 0;
    max-width: 1600px;
    max-height: 600px;
  }
}

.general__title {
  margin: 0 auto 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}