.team {
  background-color: var(--second-bcg-color);
  padding-bottom: 60px;
  padding-top: 60px;
  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__role {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team__combine {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__item {
  background-color: var(--third-bcg-color);
  border: 0px var(--third-bcg-color) solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.team__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-bcg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--hover-text-color);
    color: var(--third-bcg-color);
  }
}

.team__icon {
  fill: currentColor;
}

.team__soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
